@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans+TC:wght@100;400;700&display=swap');

:root {
    --clr-green: #00b020;
    --clr-black-1: rgb(19, 17, 24);
    --clr-black-2: #09050c;
    --clr-grey-1: #2a262e;
    --clr-grey-2: rgb(102, 119, 136);
    --clr-grey-3: #abc;
    --clr-blue: #40bcf4;
    --clr-highlight-1: rgb(219, 48, 85);
    --clr-highlight-2: #0e9467;

    /* MOVIE RATING COLORS */
    --clr-rating-great: rgb(57, 206, 57);
    --clr-rating-good: rgb(57, 129, 24);
    --clr-rating-average: rgb(122, 114, 34);
    --clr-rating-bad: rgb(189, 101, 42);

    /* FONT SIZES */
    --ft-size-1: 2.4rem;
    --ft-size-2: 1.4rem;
    --ft-size-3: 1.2rem;
    --ft-size-4: .8rem;

    /* CARD DIMENSIONS */
    --card-width: 200px;
    --poster-height: 300px;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--clr-grey-1); 
}
.App {
    min-height: 100vh;
    min-width: 100vw;
}

/* Common Classes Across the App */

.movie-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
}
.movie-grid::before {
    content:'';
    display:block;
    width: 90%; 
    border-bottom:1px solid var(--clr-grey-3);
}

/* ======================================================================= */
/* --------------HEADER------------------------------------- */
/* ======================================================================= */

.nav {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", "sans-serif";
    padding: 15px 25px;
    background-color: var(--clr-black-2);
}
.nav .link{
    text-decoration: none;
    color: var(--clr-grey-3);
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    outline: none;
}
.nav .link:hover {
    filter: brightness(2);
}
.nav .brand {
    letter-spacing: 2px;
    font-family: "Noto Sans TC";
    font-size: var(--ft-size-2);
}
.nav .links {
    display: flex;
    align-items: center;
}


/* ======================================================================= */
/* --------------HOME PAGE------------------------------------- */
/* ======================================================================= */
.homepage {
    max-width: 960px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-box {
    margin: 15px 0px;
    align-self: center;
}
.search-box input{
    background-color: var(--clr-black-2);
    color: var(--clr-grey-2);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-family: "Noto Sans TC";
    width: var(--card-width);
}
.search-box input:focus {
    margin: -2px;
    border: 1.5px solid var(--clr-grey-2);
}

/* ======================================================================= */
/* --------------MOVIE CARD------------------------------------- */
/* ======================================================================= */


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--clr-black-1);
    color: var(--clr-grey-3);
    width: var(--card-width);
    overflow: hidden;
    border: 3px solid var(--clr-grey-1)/* used, so that the element doesn't appear to move on hover */
}
.card:hover {
    border: 3px solid var(--clr-green);
}
.card .poster-wrapper {
    position: relative;
}
.card .poster-wrapper .poster {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    height: var(--poster-height);
}
.card .poster-wrapper .filler-img {
    width: var(--card-width);
    height: var(--poster-height);
    background-color: var(--clr-black-2);
}
.card .poster-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .poster-overlay:hover {
    background-color: rgba(102, 119, 136, 0.3);
    opacity: 1;
}
.card .poster-overlay .icons {
    background-color: var(--clr-black-2);
    color: var(--clr-grey-2);
    padding: 5px 3px 1px 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px var(--clr-grey-2);
    display: flex;
}

.card .poster-overlay .icons div {
    margin: 0 2px;
    font-size: var(--ft-size-3);
    cursor: pointer;
}
.card .poster-overlay .icons div:hover {
    color: var(--clr-grey-3);
}
.card .poster-overlay .icons div.red {
    color: var(--clr-highlight-1);
}
.card .poster-overlay .icons div.active {
    color: var(--clr-highlight-2);
}

.card .info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: .5rem;
    font-family: "Noto Sans TC";
    font-size: var(--ft-size-4);
    font-weight: 700;
}
.card .info .rating {
    background-color: var(--clr-black-2);
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}
.card .info .rating.great {
    color: var(--clr-rating-great);
}

.card .info .rating.good {
    color: var(--clr-rating-good);
}

.card .info .rating.average {
    color: var(--clr-rating-average);
}

.card .info .rating.bad {
    color: var(--clr-rating-bad);
}

/* ======================================================================= */
/* --------------WATCHED, FAVOURITES, WATCHLIST PAGE------------------------- */
/* ======================================================================= */

.watched, .favourites, .watchlist{
    max-width: 960px;
    margin: 0 auto;
}
.watched > h1, .favourites > h1, .watchlist > h1 {
    font-size: var(--ft-size-1);
    font-family: "Noto Sans TC";
    margin-left: calc((10%)/2 + 2px);
    color: var(--clr-grey-3);
    margin-top: 20px;
}
.watched > p, .favourites > p, .watchlist > p {
    font-family: "Lato";
    margin: 8px 0px;
    margin-left: calc((10%)/2 + 2px);
    color: var(--clr-grey-2);
}